//This file you will create your variables inside of the project
$white: #ffffff;

$black: #000000;
$sable:#060606;
$charcoal:#2e1503;

$tangerine:#ffaf6d;
$orange:#ffa500;

$grey:#808080;
$dark-gray:#505050;
$purple:#632894;

// font size
$xxxxx-large:50px;
$xxxx-large:45px;
$xxx-large:40px;
$xx-large:35px;
$x-large:30px;
$large:20px;
$medium:16px;
$small:14px;
$x-small:12px;

// font-weight
$font-regular: 400;
$font-bold:700;

// font family
$ubuntu: 'Ubuntu', sans-serif;
$poppins: 'Poppins', sans-serif;


// Breakpoint
$break_small:576px;
$break_medium:768px;
$break_large:992px;
$break_x-large:1200px;